@font-face {
    font-family: 'Rethink Sans';
    src: url('RethinkSans-VariableFont_wght.ttf') format('truetype');
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body, html {
    margin: 0;
    padding: 0;
}

/*Background color of webpage*/
body {
    background-color: #FAF9F6;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

/*Header of the website*/
header {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Rethink Sans';
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color:#FAF9F6;
    z-index: 2000;
    border-bottom: 2px solid #800020;
    top: 0px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 10px;
}

#name {
    text-decoration: none;
    color: black;
}

#socials, #designsocial {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
}

#designsocial {
    border: 5px solid #800020;
    box-shadow: 7px 3px 5px #800020;
    padding: 0.7vw; /* Use relative units */
    transition: box-shadow 0.2s ease-in-out;
}

#designsocial:hover {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

/*Introduction container*/
.intro-container {
    margin-top: 70px;
    position: relative;
    display: flex;
    max-width: 90vw;
}

.introduction {
    font-family: 'Rethink Sans';
    margin-top: 5vh; /* Use relative units */
    width: 30vw; /* Use relative units */
    min-width: 30vw;
}

.empty-space{
    height: 1px;
}

#resume {
    text-decoration: none;
    color: black;
    border: 5px solid #800020;
    box-shadow: 7px 3px 5px #800020; /* Use relative units */
    padding: 0.5vw; /* Use relative units */
    transition: box-shadow 0.2s ease-in-out;
}

#resume:hover {
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
}

/*Image section*/
.image-container {
    display: flex;
    margin-top: 5vh; /* Use relative units */
}

.images {
    position: relative;
    border: 5px solid #800020;
    box-sizing: border-box;
    margin-left: 5vw; /* Use relative units */
    display: flex;
    z-index: 1;
}

.images img {
    width: 450px;
    height: auto;
    vertical-align: bottom;
    overflow: hidden;
    position: relative;
}

/* Text design */
.hover-text {
    position: absolute;
    width: 15vw; /* Use relative units */
    min-width: 350px;
    color: #800020;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
}

.images:hover img{
    filter: blur(2px);
    transition: filter 0.5s ease-in-out;
    z-index: 0;
}


.images:hover .hover-text{
    display: flex;
    opacity: 1;
}


/* Projects section */
.projects{
    margin: auto;
}

.project-info {
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 5vw; /* Use relative units */
    max-width: 70vw; /* Use relative units */
    text-align: center;
}

.project-description{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.project-box {
    background-color: white;
    width: 100%; /* Take 100% of the column width */
    height: 20vw; /* Use relative units */
    border: 5px solid #800020;
    box-sizing: border-box;
    overflow: auto;
}

.project-box:hover > .project-description{
    opacity: 1;
}

/*Footer*/
.footer{
    border-top: 3px solid #800020;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    font-family: 'Rethink Sans';
    display: flex;
}

/*Hamburger menu*/
.menu-button{
    display: none; 
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    color: black;
    z-index: 2000;
    pointer-events: auto;
}

.hamburger-menu {
    display: none; /* Hide by default on larger screens */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed to avoid overlapping with the header */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    color: #800020;
}

#ham-contact{
    text-decoration: none;
    color: black;
}

.ham-overlay{
    display: none;
    position: fixed;
    background-color: rgba(1, 1, 1, 0.6);
    backdrop-filter: blur(3px); 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: -1;
}

.nav-links{
    pointer-events: all;
    display: none;
    position: static;
    z-index: 500;
}


/* Responsive Styles for smaller screens */
@media screen and (max-width: 768px){
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-links {
        display: none;
    }

    .introduction {
        width: 60%;
    }

    .project-info {
        grid-template-columns: 1fr;
    }

    .project-box {
        height: auto;
        margin-bottom: 20px;
    }

    .menu-button {
        display: block;
        z-index: inherit;
    }

    .hamburger-menu{
        display: block; 
        flex-direction: column;
        top: 60px; /* Adjust as needed to avoid overlapping with the header */
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    .nav-links a{
        padding: 70px;
        display: block;
        cursor: pointer;
        font-size: xx-large;
        color: white !important;
    }    

    .intro-container {
        flex-direction: column;
        align-items: center;
    }

    .introduction{
        order: 1;
    }

    .image-container, .images{
        order: 2;
        justify-content: center;
        align-items: center;
    }

    .hover-text{
        width: 10vw;
        min-width: 350px;
        position: absolute;
        left: 50%; /* relative to nearest positioned ancestor or body element */
        top: 50%; /*  relative to nearest positioned ancestor or body element */
        transform: translate(-50%, -50%); /* relative to element's height & width */
    }
}